.nav-item{
    height: auto;
}

html, body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item:hover{
    opacity: 62%;
    transition: 0.2s;
}

.carousel-control-prev-icon {
    background-image: url("");
}
      
.carousel-control-next-icon {
    background-image: url("");
  
}
.btn{
    background-color: red;
    color: black !important;
}

.col-sm{
    padding:10px;
    margin-left: 10xp;
    background-color: #28a745;
    margin:10px;
    padding-bottom: 30px;
}

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }