/*body{
    Background-image: url('https://cdn.hipwallpaper.com/i/60/55/fN8BG5.jpg');
}

.form-container{
    background-color: antiquewhite;
    margin: auto;
    top: 50%;
    left: 50%;
    width: 40%;
    max-height: 100px;
    height: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    align-items: center;
    margin-top: 300px; 
    opacity: 0.8;
}

#email{
    opacity: 1;
}*/

html{
    margin: 0;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    text-align: center;
    width: 300px;
    box-shadow: 4px 4px 5px blue;
}

.images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caption{

    opacity: 1;
    display: none;
    clear: both;
    transition: all 1s;
}


img{
    width:300px;
    height: 400px;
    margin: 10px;
    transition: all 1s;
}


img:hover{
    transform: scale(1.1);
}

img:hover + .caption{
    display: block;
    opacity: 0.5;
    
}

.btnst{
    width: 150px;
    height: 50px;
    background-color: darkcyan;
    color:aliceblue;
    font-size: 1em;
    transition: all 0.6s;
}

.btnst:hover{
    background-color: aliceblue;
    color:darkcyan;
}